<div class="mb-4 card-wrapper">

  <div class="img-wrapper text-center">
    <img src="{{book.picture.url}}">
  </div>
  
  <p class="card-name text-center">{{book.name}}</p>

  <ul class="list-inline member-icons animate text-center mt-2">
    <li class="list-inline-item ">
      <button class="btn btn-outline-secondary" [routerLink]="['/book/',book.id]"><i class="fa fa-eye"></i></button>
    </li>
    <li class="list-inline-item ">
      <button class="btn btn-outline-secondary" (click)="openBookEditModal()"><i class="fa fa-edit"></i></button>
    </li>
    <li class="list-inline-item ">
      <button class="btn btn-outline-secondary" (click)="deleteBook()"><i class="fa fa-trash"></i></button>
    </li>
  </ul>

</div>