<div class="">
  <div class="mb-4 card-img-wrapper" >
      <img class="" style="width: 500px; height: 100px; background:white">
      <ul class="list-inline member-icons animate text-center mt-2">
        <li class="list-inline-item ">
          <button class="btn btn-success "><i class="fa fa-eye"></i></button>
        </li>
        <li class="list-inline-item ">
          <button class="btn "><i class="fa fa-edit"></i></button>
        </li>
        <li class="list-inline-item ">
          <button class="btn "><i class="fa fa-trash"></i></button>
        </li>
      </ul>
</div>
</div>