<div class="container col-12">
      <div class="row justify-content-center">
        <div class="col-8 background container">
          <div class="row justify-content-center">
            <h2 class="text-center">My Books</h2>
          </div>
          <div class="row" style="margin: 20px;">
            <div class="col-sm-6 col-md-4 col-lg-4 col-xl-3 mt-5">
              <app-add-book-card (added) = "onAdd()"></app-add-book-card>
            </div>
            <div *ngFor="let book of books" class="col-sm-6 col-md-4 col-lg-4 col-xl-3 mt-5">
              <app-book-card [book]="book" (edited) = "onEdit()" (deleted) = "onDelete()"></app-book-card>
            </div>
          </div>
          
        </div>
      </div>
    
</div>
