
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="text-center">Sign Up</h2>
        </div>
    </div>
    <div class="row">
        <form (ngSubmit)="register()" [formGroup]="registerForm" class="col-12">

            <div class="form-group">
                <label for="username">Username</label>
                <input
                [ngClass]="{'is-invalid': registerForm.get('username').errors && 
                 registerForm.get('username').touched}"
                class="form-control"
                id="username"
                formControlName="username" 
                type="text">

                <div class="invalid-feedback"
                *ngIf="registerForm.get('username').hasError('required')">Username is required
                </div>

                <div class="invalid-feedback"
                *ngIf="registerForm.get('username').hasError('minlength') ||
                 registerForm.get('username').hasError('maxlength') &&
                 registerForm.get('username').dirty">Username has to be beetween 4 and 25 characters
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input 
                 [ngClass]="{'is-invalid': 
                 (registerForm.get('password').errors && 
                 registerForm.get('password').touched)
                 ||
                 (registerForm.hasError('noSpecialChar')&&
                 registerForm.get('password').touched)}"
                type="password" class="form-control" formControlName="password">

                <div class="invalid-feedback"
                *ngIf="(registerForm.get('password').hasError('minlength') ||
                 registerForm.get('password').hasError('maxlength'))&&
                 registerForm.get('password').touched">
                    Password has to be beetween 4 and 25 characters
                </div>

                <div class="invalid-feedback"
                *ngIf="registerForm.hasError('noSpecialChar')">You need at least 1 special character (!, @, #, $, %, ^, &, *, ?, |)
                </div>
            </div>
            <div class="form-group">
                <label for="password">Confirm Password</label>
                <input
                 type="password" class="form-control" formControlName="confirmPassword"
                  [ngClass]="{'is-invalid': 
                    (registerForm.get('confirmPassword').errors &&
                    registerForm.get('confirmPassword').touched)
                    || 
                    (registerForm.hasError('mismatch') &&
                    registerForm.get('confirmPassword').touched)}" >

                    <div class="invalid-feedback" 
                    *ngIf="registerForm.hasError('mismatch')"> Passwords must match
                    </div>
            </div>
            <div class=" form-group text-center mt-5 mb-5">
                <button [disabled]="!registerForm.valid" class="btn btn-success mr-4" type="submit">Register</button>
                <button  class="btn btn-outline-secondary" (click)="cancelRegisterMode()">Cancel</button>
            </div>
        </form>
    </div>
</div>


