<form  #editForm="ngForm" id="editForm" class="chapter-wrapper">
  <button [ngClass]="{'grey-box-shadow': !isCollapsed}" type="button" 
  class="collapse-button btn btn-success" (click)="isCollapsed=!isCollapsed"
  [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic">
    <input (keyup)="$event.preventDefault()" [ngClass]="{'chapter-name-not-collapsed': !isCollapsed, 'chapter-name-collapsed':isCollapsed}"
    (click)="stayOpen($event)" class="chapter-name form-control" type="text" name="name" id="name"
     [(ngModel)]="nameToBe">
  </button>
  
  <div id="collapseDiv" [collapse]="isCollapsed" [isAnimated]="true">
    <div class=" card card-block card-header">
      <div class="row chapter-content">
        <textarea class="form-control" [(ngModel)]="contentToBe" name="content" rows="10" style="width: 100%"></textarea>
      </div>
      <div class="row button-div">
        <button class="btn btn-outline-secondary-red " type="button" style="margin-left: 20px;" (click)="deleteChapter()">
          <i class="fa fa-trash"></i> Delete Chapter
        </button>
        
        <button class="btn btn-outline-secondary-orange " type="submit" style="margin-left: auto"
        (click)="revertChanges()">
          <i class="fa fa-undo"></i> Revert Changes
        </button>
        <button class="btn btn-outline-secondary-green " type="submit"  (click)="saveChanges()">
          <i class="fa fa-check"></i> Save Changes
        </button>
        
      </div>
    </div>
  </div>
</form>