
.card img{
    opacity: 0.1;
    filter: grayscale(50%);
}

.card-img-wrapper{
    overflow: hidden;
    position: relative;
    background: rgb(19, 19, 19);
    transition:all 0.3s ease-in-out;
    height: 150px;
    margin: 0;
    padding: 0;
    border: 1px solid black;

}
.card-img-wrapper:hover{
    background: black;
}
button{
    display:block;
    height: 100%;
    font-size: 45px;
}

.animate{
    transition:all 0.3s ease-in-out
}

.fa{
    color: rgb(255, 166, 0);
}