.background{
    padding:0;
}
.book-wrapper{
    width: 30%;
    border-right: 3px solid rgb(58, 58, 51);
    padding:15px;
}
.card-footer{
    border-bottom:1px solid rgb(145, 94, 1);
}
.chapters-wrapper{
    width: 70%;
    padding:15px;
}

.button-wrapper{
    margin:20px 0px;
}
.button-wrapper button{
    width:60%;
    padding: 6px 0px;
    font-size: 15px;
    font-weight: 600;
}
.content-wrapper{
    overflow: scroll;
    scrollbar-width: none;
    padding:10px;
}

.img-thumbnail{
    background-color: rgb(80, 77, 77);
    padding:0;
    border: 2px solid rgb(80, 77, 77);
}

.btn-outline-secondary-red{
    border-color: rgb(211, 50, 50);
    color: rgb(211, 50, 50);
}

.btn-outline-secondary-red:hover{
    border-color: rgb(163, 26, 26);
    color: rgb(163, 26, 26);
}

.header{
     background-color:  rgba(31, 31, 29,0.7);
     margin:0;
     padding:0;

}
.escape-button{
   margin:8px 30px;
   padding:4px 10px;
}